#codeeditor #editor {
	margin: auto;
	width: 100%;
	min-height: 250px;
}
#codeeditor .wordBreak {
	word-break: break-word;
}
#codeeditor .clickHand {
	cursor: pointer;
	margin-left: 5px;

}

.lm_content{
  overflow: auto;
  overflow-x: hidden;
}

img{
	padding: 5px;
}

img:hover{
	cursor: pointer;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.dropscroll
{
	height: 250px;
	width: 200px;
	overflow: auto;
}

.container-fluid
{
	height:100%;
	width: 100%;
}

.videoDiv
{
	height:90%;
	width:100%;
}

.navbar {
    margin-bottom: 0 !important;
}

#navB{
	font-family: 'Ubuntu Mono', monospace;
    color: lightgreen;
    font-size: 22px;
}
.row
{
	height:9% !important;
}
.lm_title{
	color: lightgreen;
}