#search-button{
    background: transparent;
    border: transparent;
    color: lightgreen;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;"
    }
#vid{
	color: lightgreen;
	font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
}